<div class="card mx-auto" style="width: 50rem;">
  <div class="card-body">
<%= form_with model: instructor do |f| %>
<div class="row g-2 ml-2">
  <div class="col-md-6">
<%= f.label :name, "Nome", class:"form-label" %>
<%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="col-md-6">
<%= f.label :email, "Email", class:"form-label" %>
<%= f.text_area :email, class:"form-control" %>
</div>

  <div class="col-md-6">
<%= f.label :bio, "Descrição", class:"form-label" %>
<%= f.text_field :bio, class:"form-control" %>
</div>


  <div class="col-md-6">
<%= f.label :profile_picture, "Foto de perfil", class:"form-label" %>
<%= f.file_field :profile_picture, class:"form-select"  %> <br>
</div>
</div>

<%= f.submit button_text, class:"btn btn-outline-dark btn-sm"%>
<%= link_to t('links.back'), root_path, class:"btn btn-outline-dark btn-sm" %>
  
<% end %>
  </div>
</div>



