<p> <%= @instructor.name %> </p>
<p> <%= image_tag @instructor.profile_picture %> </p>
<p> <%= @instructor.email %> </p>
<p> <%= @instructor.bio %> </p>
<%= link_to 'Editar', edit_instructor_path %>
<%= link_to 'Excluir',instructor_path, method: :delete , data: {confirm: 'Deseja excluir esse cadastro?'} %>
<%= link_to 'Voltar', instructors_path %>