
<div class="card mx-auto" style="width: 25rem;">
  <% if @instructor.profile_picture.attached? %>
  <%= image_tag @instructor.profile_picture, size: "300x250", class:"mx-auto" %> 
  <% end %>
  <div class="card-body mx-auto">
    <h5 class="card-title">Nome: <%= @instructor.name %></h5>
    <p class="card-text">Email: <%= @instructor.email %> </p>
    <p class="card-text">Descrição:  <%= @instructor.bio %></p>
        <%= link_to t('links.edit_instructor'), edit_instructor_path(@instructor), class:"btn btn-warning"%>
        <%= link_to t('links.destroy_instructor'),instructor_path, method: :delete , data: {confirm: 'Deseja excluir esse cadastro?'}, class:"btn btn-danger" %>
        <%= link_to t('links.back'), instructors_path, class:"btn btn-outline-dark"%>
  </div>
</div>
