
<div class="card" style="width: 27rem;">
  <div class="card-body">
    <h5 class="card-title">Nome: <%= @lesson.name %></h5>
    <p class="card-text">Descrição:  <%= @lesson.description %></p>
    <%= link_to t('links.new_lesson'), new_course_lesson_path(@course, @lesson), class:"btn btn-success" %>
    <%= link_to t('links.edit_lesson'), edit_course_lesson_path(@course, @lesson), class:"btn btn-warning" %>
    <%= link_to t('links.destroy_lesson'), course_lesson_path(@course), method: :delete , data: {confirm: 'Deseja excluir essa aula?'}, class:"btn btn-danger" %>
    <%= link_to t('links.back'), course_lessons_path, class:"btn btn-outline-dark"%>

  </div>
</div>