<tbody>
  <tr>
<% @courses.each do |course|%>  
  <td><%= course.name%></td>
    <td><%= course.description%></td>
    <td><%= course.code%></td>
    <td><%= number_to_currency(course.price, :unit => "R$ ", :separator => ",", :delimiter => ".", format: "%u %n") %></td>
    <td><%= course.enrollment_deadline.strftime("%d/%m/%Y") %></td>
  </tr>
  <% end %>
</tbody>