  <% if @courses.empty? %>
 <p>'Nenhum curso disponível'</p>
 <% end %>


<tbody>
  <tr>
<% @courses.each do |course|%>  
  <td><%= link_to course.name, course %></td>
    <td><%= course.description%></td>
    <td><%= number_to_currency(course.price, :unit => "R$ ", :separator => ",", :delimiter => ".", format: "%u %n") %></td>
        <%= link_to 'Voltar', root_path %>
  </tr>
  <% end %>
</tbody>

      <%= link_to 'Registrar um Curso', new_course_path %>
