  <% if @courses.empty? %>
 <p>'Nenhum curso disponível'</p>
 <% end %>

  <dl>
<% @courses.each do |course|%>  
  <dt>Nome</dt>
  <dd><%= link_to course.name, course %></dd>
  <dt>Descrição</dt>
  <dd><%= course.description%></dd>
  <dt>Preço</dt>
  <dd><%= number_to_currency(course.price, :unit => "R$ ", :separator => ",", :delimiter => ".", format: "%u %n") %></dd>
  <% end %>
  </dl>
      <%= link_to 'Registrar um Curso', new_course_path %>
      <%= link_to 'Voltar', root_path %>
