<% if course.errors.any? %>
  <ul>
          <% course.errors.each do |error|%>
          <li><%= error.message %> </li>
            <% end %>
  </ul>
<% end %>


<div class="card mx-auto" style="width: 50rem;">
  <div class="card-body">

<%= form_with model: [:admin, course] do |f| %>
<div class="row g-2">
  <div class="col-md-6">
      <%= f.label :name, "Nome", class:"form-label"%>
      <%= f.text_field :name, class:"form-control" %>
  </div>

  <div class="col-md-6">
      <%= f.label :description, "Descrição", class:"form-label" %>
      <%= f.text_area :description, class:"form-control" %>
  </div>

  <div class="col-md-6">
      <%= f.label :code, "Código", class:"form-label" %>
      <%= f.text_field :code, class:"form-control" %>
  </div>

  <div class="col-md-6">
      <%= f.label :instructor_id, "Professor", class:"floatingInputGrid-label" %> <br>
      <%= f.collection_select :instructor_id, instructors, :id, :name , class:"form-select"  %>
  </div>

  <div class="col-md-6">
      <%= f.label :price, "Preço", class:"form-label" %>
      <%= f.text_field :price, class:"form-control"  %>
  </div>

    <div class="col-md-6">
      <%= f.label :enrollment_deadline, "Data limite de matrícula", class:"form-label" %>
      <%= f.date_field :enrollment_deadline, class:"form-control"  %>
  </div>

      <div class="col-md-6">
      <%= f.check_box :status %>
      <%= f.label :status, "Publicar?", class:"form-label" %>

  </div>

</div>
  <%= f.submit button_text, class:"btn btn-outline-dark btn-sm"%>
  <%= link_to t('links.back'), root_path, class:"btn btn-outline-dark btn-sm" %>
<% end %>
  </div>
</div>

