<div class="card" style="width: 23rem;">
  <div class="card-body">
    <h5 class="card-title">Nome: <%= @course.name %></h5>
    <p class="card-text">Descrição:  <%= @course.description %> </p>
    <p class="card-text">Codigo: <%= @course.code %></p>
   <p class="card-text">Preço: <%= number_to_currency(@course.price) %></p>
  <p class="card-text">Professor: <%= @course.instructor.name %></p>
   <p class="card-text">Data limite de matrícula: <%= @course.enrollment_deadline.strftime("%d/%m/%Y")  %></p>
    <%= link_to t('links.new_lesson'), new_admin_course_lesson_path(@course, @lesson), class:"btn btn-success" %>
    <%= link_to t('links.show_lesson'), admin_course_lessons_path(@course, @lesson), class:"btn btn-dark"  %>
    <%= link_to t('links.edit_course'), edit_admin_course_path, class:"btn btn-warning" %>
    <%= link_to t('links.destroy_course'), admin_course_path, method: :delete, data: {confirm: 'Deseja excluir este curso?'}, class:"btn btn-danger" %>
    <%= link_to t('links.back'), admin_courses_path, class:"btn btn-outline-dark"%>
  </div>
</div>